<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>VoizFonica</title>
    <style>
      h5{
          color: white;
      }
      p{
          color: whitesmoke;
      }
      h4{
          color: black;
      }
      h6{
          color: black;
      }
  </style>

</head>
<body> -->
    {% extends 'dashboardheader.html' %}   
    {% block dashboard1 %}
    <style>
        h1{
            color: brown;
        }
        h2{
            color: rgb(207, 42, 42);
        }
        h3{
            color: rgb(0, 0, 0);
        }
        h5{
            color: crimson;
        }
    </style>
   <div class="container">
       <div class="row">
           <div class="col col-6">
               <h2>Your Portable Device</h2>
               <h2>Anytime Anywhere</h2>
           </div>
           <div class="col col-6">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxCqN1BGBn-8B8X_UVH4rgHIBPKBSc9EljFg&usqp=CAU" style="width:500px;height:300px;" alt="">
           </div>
       </div>
   </div>
   <div class="container">
       <div class="row">
   <div class="col col-8">
       <h1>DONGLE</h1>
       
           <div class="card card-body">
   * Comes with 10GB data free, valid for 30days<br>
   
   * Single user<br>
   
   * Plug and Play<br>
   
   * Easy to install Dongle application for quick connection/ access to the web interface<br>
   
   * Insert any VoizFonica registered sim into the VoizFonica Dongle - (Visit VoizFonica.com for top up/recharge options)<br>
   
   * Connect VoizFonica Dongle to a PC and few seconds till the installation option pops up.network and WiFi to indicator appears<br>
   
   * Wait till the network indicator appears on the VoizFonica Dongle<br>
   
   * Click the connect button to connect to the internet.<br>
   <h5>VISIT ANY NEARBY STORE TO BUY</h5>
   <h6> or </h6>
           </div>
           
           <a href="http://127.0.0.1:8000/voice/dongdashregi" class="btn btn-outline-success">BUY NOW </a>    
   </div>
   <table class="table table-borderless">
       <tr>
           <td></td>
           <td></td>
       </tr>
       <tr>
           <td></td>
           <td></td>
       </tr>
   </table>
       </div>
   </div>
   {% endblock %}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
   </body>
   </html>