<!-- <!DOCTYPE html>
<html lang="en">
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    {% extends 'dashboardheader.html' %}   
    {% block dashboard1 %}
    <title>POSTPAID</title>
</head>
<body style="background-color:rgb(219, 233, 232);">
    <h2>
        We're here to help you.
    </h2>   
    <!-- <table class="table table-borderless">
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
       
    </table>  -->
<h4>
    Your Questions Related with:
</h4>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <!-- <table class="table table-borderless">
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table> -->
            </div>
        </div>
    </div>
    </div>
      <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <a href="http://127.0.0.1:8000/voice/faqdonggeneral" class="list-group-item list-group-item-action list-group-item-info" >
                <div class="card-body">
                  <h5 class="card-title">GENERAL</h5>
                  
            </div>
        </a>
        </div>
      </div>
     
        <!-- <div class="col-sm-4">
          <div class="card">
            <a href="http://127.0.0.1:8000/voice/faqpostbill/" class="list-group-item list-group-item-action list-group-item-info" >
            <div class="card-body">
              <h5 class="card-title"> BILLING & PAYMENT</h5>
              
        </div>
    </a>
    </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <a href="http://127.0.0.1:8000/voice/faqpostdata/" class="list-group-item list-group-item-action list-group-item-info" >
          <div class="card-body">
            <h5 class="card-title"> DATA & NETWORK</h5>
            
      </div>
    </a>
    </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <a href="http://127.0.0.1:8000/voice/faqpostproduct/" class="list-group-item list-group-item-action list-group-item-info" >
          <div class="card-body">
            <h5 class="card-title"> PRODUCT & OFFERS</h5>
            
      </div>
    </a>
    </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <a href="http://127.0.0.1:8000/voice/faqpostactivate/" class="list-group-item list-group-item-action list-group-item-info" >
          <div class="card-body">
            <h5 class="card-title"> ACTIVATE & DEACTIVATE SERVICES</h5>
            
      </div>
    </a>
    </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <a href="http://127.0.0.1:8000/voice/faqpostother/" class="list-group-item list-group-item-action list-group-item-info" >
          <div class="card-body">
            <h5 class="card-title"> OTHERS</h5>
            
      </div>
    </a>
    </div>
    </div> -->
  {% endblock %} 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>