<!-- <!DOCTYPE html>
<html lang="en">
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    {% extends 'dashboardheader.html' %}   
    {% block dashboard1 %}
    <title><b>PLAN DETAILS</b></title>
<style>
    p{
        text-align: center;
    }
</style>
</head>
<body style="background-color:rgb(219, 233, 232);">
    <h2>
        <b>We're here to help you.</b>
    </h2>   
    <!-- <table class="table table-borderless">
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
       
    </table>  -->
<h4>
    <b>Your Questions Related with:</b>
</h4>
<div class="container">
    <div class="row">
        <div class="col col-3">
            <!-- <table class="table table-borderless">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table> -->
        </div>
    </div>
</div>
    <p>
        <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
         <b> 1.I want to activate/deactivate data packs</b>
        </a>
        
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
           <b> You can activate/deactivate data packs by simply logging on to VoizFonica.in </b>
        </div>
      </div>
      <p>
        <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
         <b> 2. What is call divert feature?</b>
        </a>
        
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <b>This feature allows you to divert incoming calls to any landline or mobile number. Calls can be diverted when you are busy, unavailable/not reachable or your phone is switched off.</b>
        </div>
      </div>
        
{% endblock %}  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>