{% extends 'admin/adminheader.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/voice/delete_search_dongleprepaid" method="post">
            <table class="table table-borderless">
                <tr>
                    <td><h6>Ptype</h6></td>
                    <td><select  class="form-control" name="ptype" id="">
                        <option value="Truly Unlimited">Truly Unlimited</option>
                        <option value="Smart Recharge">Smart Recharge</option>
                        <option value="Data">Data</option>
                        <option value="trulydongleunlimeted">trulydongleunlimeted</option>
                       
                    </select></td>
                </tr>
                <tr>
                    <td></td>
                    <td><center><button type="submit" class="btn btn-secondary"><h6>SEARCH</h6></button></center></td>
                </tr>
            </table>
           </form>
           {% if data %}
           {% for i in data %}
           <form action="http://127.0.0.1:8000/voice/deletepostd_api" method="post">
            <table class="table table-borderless table-striped">
                  
                  <tr style="background-color:#00ccff">
                       <td></td>
                       <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
                   </tr>
                    
                   <tr>
                    <td>PLAN NAME</td>
                    <td>{{i.pname}}</td>
                </tr>
                <tr>
                    <td>PLAN VALIDITY</td>
                    <td>{{i.pvalidity}} </td>
               </tr>
                <tr>
                    <td>PLAN DATA</td>
                    <td>{{i.pdata}} </td>
                </tr>
                 <tr>
                     <td>PLAN TALKTIME</td>
                     <td>{{i.ptalktime}}</td>
                 </tr>
                
                <tr>
                    <td>PLAN TYPE</td>
                    <td>{{i.ptype}} </td>
                </tr>
                    
                    <tr>
                       <td></td>
                       <td> <center> <button type="submit" class="btn btn-secondary">DELETE</button></center></td>
                    </tr>
                  
                </table>
            </form>
            {% endfor %}
           {% endif %}
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
     
{% endblock %}