{% extends 'admin/adminheader.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/voice/mobpresearchapi" method="post">
            <table class="table table-borderless">
                <tr>
                    <td><h6><b>Plan Type</h6></td>
                    <td><b><select  class="form-control" name="ptype" id="">
                        <option value="data">data</option>
                        <option value="trulyunlimited">trulyunlimited</option>
                        <option value="intlr">intlr</option>
                        <option value="talktime">talktime</option>
                        
                    </select></td>
                </tr>
                <tr>
                    <td></td>
                    <td><center><button type="submit" class="btn btn-light"><h6><b>SEARCH</h6></button></center></td>
                </tr>
            </table>
           </form>
           {% if data %}
           {% for i in data %}
          
            <table class="table table-borderless table-striped">
                  
                  <tr style="background-color:#00ccff">
                       <td></td>
                       <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
                   </tr>
                    <tr>
                        <td><b>PLAN NAME</td>
                        <td><b>{{i.pname}}</td>
                    </tr>
                    <tr>
                        <td><b>PLAN VALIDITY</td>
                        <td><b>{{i.pvalidity}}</td>
                   </tr>
                    <tr>
                        <td><b>PLAN DATA</td>
                        <td><b>{{i.pdata}}</td>
                    </tr>
                     <tr>
                         <td><b>PLAN TALKTIME</td>
                         <td><b>{{i.ptalktime}}</td>
                     </tr>
                    <tr>
                      <td><b>SMS</td>
                      <td><b>{{i.psms}}</td>
                    </tr>
                    <tr>
                        <td><b>PLAN TYPE</td>
                        <td><b>{{i.ptype}}</td>
                    </tr>
                    
                    
                  
                </table>
            </form>
            {% endfor %}
           {% endif %}
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
     
{% endblock %}