<!-- <!DOCTYPE html>
<html lang="en">
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    {% extends 'homeheader.html' %}   
    {% block home %}
    <title>PLAN DETAILS</title>
<style>
    p{
        text-align: center;
    }
</style>
</head>
<body style="background-color:rgb(219, 233, 232);">
    <h2>
        We're here to help you.
    </h2>   
    <table class="table table-borderless">
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
       
    </table> 
<h4>
    Your Questions Related with:
</h4>
<div class="container">
    <div class="row">
        <div class="col col-3">
            <table class="table table-borderless">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
    <p>
        <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          1.How to control my data usage?
        </a>
        
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
As the speed is higher in 3G/4G, the content download is much faster without buffering.<br>
This leads to higher content download in lesser time, hence you feel more data is getting consumed in less time.<br>


Here are few tips to optimize your data usage:<br>


1. View or Download the videos in low resolution.<br> The lower the resolution, lesser would be the size of the content.<br> However, this may impact the quality of the content.<br>
2. Disable AUTO UPDATE option in your mobile as it leads to auto updates of the applications resulting in higher data consumption.
        </div>
      </div>
      <p>
        <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          2. I want to know my data usage
        </a>
        
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Simply login at VoizFonica.in and go to Usage section to view your data usage.
        </div>
      </div>
      <!-- <p>
        <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          3. What is 4G or LTE?
        </a>
        
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            LTE stands for "Long Term Evolution".<br> It is a radio access technology to deliver very high data speeds.<br>
             4G stands for "Fourth Generation" of the mobile network technology after 2G and 3G.<br>
              With 4G LTE, you can notice a visible difference while downloading files, doing video-chat, playing multiplayer games or viewing HD videos online.
        </div>
      </div> -->
      
      {% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>