<!-- <!DOCTYPE html>
<html lang="en">
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    {% extends 'homeheader.html' %}   
    {% block home %}
    <title>PLAN DETAILS</title>
<style>
    p{
        text-align: center;
    }
</style>
</head>
<body style="background-color:rgb(219, 233, 232);">
    <h2>
        We're here to help you.
    </h2>   
    <table class="table table-borderless">
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
       
    </table> 
<h4>
    Your Questions Related with:
</h4>
<div class="container">
    <div class="row">
        <div class="col col-3">
            <table class="table table-borderless">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
    <p>
        <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          1.How do I check my IMEI number?
        </a>
        
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Dial *#06# to check IMEI number.
        </div>
      </div>
      <p>
        <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          2. I want to know the impact of GST on my Bill
        </a>
        
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            As per government directive,<br> 
            from 1st July 2017, Goods and Services Tax (GST) is applicable on all services.<br> 
             You will be charged GST of 18% in your Airtel Mobile bill.
        </div>
      </div>
      <p>
        <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          3. I want to know about Aadhaar Based Verification process
        </a>
        
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            To verify your mobile number with Aadhaar, you may call 14546 (toll-free) or visit our nearest VoizFonica Store with your Aadhaar number.
        </div>
      </div>
      
      {% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>