{% extends 'dashboardheader.html' %}


{% block dashboard1 %}

{% include 'dongleprepaid/prepaiddongle.html' %}


<center><h4>DATA </h4></center>
<div class="list-group">
  {% for i in data %}
  <form method="POST" action="./prepaiddongle">
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark" >
      <div class="d-flex w-100 justify-content-between">
    
        <table class="table table-borderless">
            <tr>
              <td><input type="text" name="id" hidden class="form-control" value="{{i.id}}"></td>
                <td><b>&#8377;{{ i.pname }}<br>{{i.ptalktime}} Hours left</b></td>
                <td><b>{{i.pdata}} Gb<br>Data</b></td>
                <td><b>{{i.pvalidity }} Days <br>validity</b></td>
                <td align="right"><button type="submit" formaction="./paymentpredong" class="btn btn-danger">{{i.pname}}</button></td>
              </tr>
        </table>
      </div>
    </a>
  </form>

    {% endfor %}

   
  </div>
  


{% endblock %}