<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prepaid Dongle</title>
</head>

<style>
    
    table{
        background-color:#609fc9;
        font-family: "Times New Roman", Times, serif;
    }
    h2{
        background-color:#609fc9;
        text-shadow: 2px 2px #FF0000;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        
        }
    div{
        font-family: "Times New Roman", Times, serif;
    }
</style>
<body>
     <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="./trulydongleunlimited">Truly Unlimit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./donglesmartrecharge">Smart Recharge</a>
        </li>
        
    
        <li class="nav-item">
            <a class="nav-link" href="./dongledata">Data</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/voice/predongledata">Back</a>
          </li>
        
      </ul> 
      
      {% block home %}

    {% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>          
</body>
</html>